<html
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:i18n="http://genshi.edgewall.org/i18n"
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  py:strip=""
  >

  <py:match path="minornavigation">
    <ul class="nav nav-pills" py:choose="bool(c.feed)">
      <py:when test="True" py:with="can_update=h.check_access('feed_update',{'id':c.feed.id})">
        <li class="${'active' if c.action=='read' else ''}">${h.subnav_link(h.icon('feed') + _('View'), controller='ckanext.feedcontent.controllers:FeedController', action='read', id=c.feed.name)}</li>
        <li class="divider" py:if="can_update">|</li>
        <li class="${'active' if c.action=='edit' else ''}" py:if="can_update">
          ${h.subnav_link(h.icon('feed_edit') + _('Edit'), controller='ckanext.feedcontent.controllers:FeedController', action="edit", id=c.feed.name )}
        </li>
      </py:when>
      <py:otherwise>
        <li class="${'active' if c.action=='index' else ''}">
          ${h.subnav_link(h.icon('feed') + _('List Feeds'), controller='ckanext.feedcontent.controllers:FeedController', action='index' )}
        </li>
        <li style="display:none;" class="ckan-logged-in ${'active' if c.action=='new' else ''}">
          ${ h.subnav_link(h.icon('feed_add') + _('Add a Feed'), controller='ckanext.feedcontent.controllers:FeedController', action='new')}
        </li>
        <li class="ckan-logged-out ${'active' if c.action=='new' else ''}">
          ${h.subnav_link(h.icon('feed_add') + _('Login to Add a Feed'), controller='ckanext.feedcontent.controllers:FeedController', action='new')}
        </li>
      </py:otherwise>
    </ul>
  </py:match>

  <xi:include href="../layout.html" />
</html>
