<html xmlns:py="http://genshi.edgewall.org/"
  xmlns:i18n="http://genshi.edgewall.org/i18n"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  py:strip="">

  <py:def function="page_title">${c.feed.title}</py:def>
  <py:def function="page_heading">${c.feed.title}</py:def>

 <py:match path="primarysidebar">
    <h3>Feeds</h3>
    <p>
        <a class="btn btn-danger" href="${h.url_for(controller='ckanext.feedcontent.controllers:FeedController', action='delete', id=c.feed.name)}" onclick="return confirm('Are you sure you want to delete this feed?');">Delete</a>
    </p>
  </py:match>

  <py:match path="content">
    <h2>${c.feed.title}</h2>

    <h4>${c.feed.url} &nbsp;&nbsp;<small><a href="${h.url_for(controller='ckanext.feedcontent.controllers:FeedController', action='update', id=c.feed.name)}">Update feed</a></small></h4>

    <div>
        <p><strong>Format</strong>: ${c.feed.format}</p>
        <p><strong>Template</strong>: ${c.feed.template or 'Default'}</p>
        <p><strong>Created</strong>: ${h.render_datetime(c.feed.created, with_hours=True)}</p>
        <p><strong>Last updated</strong>: ${h.render_datetime(c.feed.updated, with_hours=True)}</p>
    </div>
    <div>
        <p>
          ${c.feed.content}
        </p>
    </div>

  </py:match>

  <xi:include href="layout.html" />
</html>


